::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}


.signup-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top:0;
	bottom:0;
	left:0;
	right:0;
	align-items: center;
}

.email-input {
	border:none;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 10px;
	background-color: gray;
	color: white;
}

.pass-input {
	border:none;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 10px;
	background-color: gray;
	color: white;
}

h2{
	font-family: fantasy;
}

button {
	text-decoration: none;
	border:none;
	background-color: black;
	color:white;
	padding: 10px 50px;
	border-radius: 20px;

}